.projects-container {
    width: 100%;
    display: grid;
    color: var(--on-surface-color);
}

.projects-container h3{
    font-size: 18px;
    margin-top: 0px;
    color: var(---on-surface-color);
}

.project-item {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 64px;
    /* border-width: 3px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 50px; */
    /* background-color: var(--secondary-color); */
}

.project-item[id=esist] {
    margin-top: 20px;
}

.project-item[id=esist],
.project-item[id=places]{
    text-align: left;
    justify-self: left;
}

.project-item[id=steps] {
    text-align: right;
    justify-self: right;
}

.project-item h2 {
    margin-top: 0px;
}


.project-item a {text-decoration:none;}
.project-item a:link{
    color: var(--primary-color);
}
.project-item a:visited {
    color: var(--secondary-color);
}
.project-item a:hover,
.project-item a:active {
    color: var(--primary-light);
}

.photo-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.photo-container[id=esist],
.photo-container[id=places] {
    flex-direction: row;
}

.photo-container[id=steps] {
    flex-direction: row-reverse;
}

.photo-container[id=esist] img {
    width: 25%;
}

.photo-container[id=steps] img,
.photo-container[id=places] img {
    width: 23%;
}

.project-divider {
    height: 2px;
    width: 40%;
    margin: 60px 30% 40px;
    background-color: #cecece;
}

.ASCII {
    margin-top: 0px;
}